@import url("./img.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d1d5db;
}

.menu {
    display: flex;
    background-color: #991b1b;
    margin: 20px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 30px 60px;
    border-radius: 10px;
  
}

.section{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    flex-wrap: wrap
}

.aside{
    margin-top: 70px
    
}
.dados{
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.main{
    display: flex;
    background-color: #3f3f46;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 10px;
    padding: 20px 20px;
}

.card{
    width: 200px;
    margin: 20px;
    perspective: 1000px;
    gap: 10px;
    flex-wrap: wrap;
    color: white;
}

.face{
    width: 230px;
    height: 330px;
    transition: 0.7s;
    transform-style: preserve-3d;
}

.card.is-flipped .face {
    transform: rotateY(-180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden; 
}

.front {
    display: flex;
    background: #27272a;
    transform: rotateY(0);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid #991b1b;
    padding: 20px;
}

.back {
    display: flex;
    background-color: #27272a;
    transform: rotateY(180deg);
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 5px solid #991b1b;
}

.rodape {
    display: flex;
    background-color: #991b1b;
    margin: 20px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 30px 40px;
    border-radius: 10px;
}

.grupo{
    color: white;
    font-weight: 600;
    font-size: large;
}

@media (max-width: 768px) {
    .rodape {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .grupo, .img {
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .menu, .rodape {
        margin: 10px;
        padding: 10px;
    }

    .dados, .grupo, .img {
        font-size: 14px;
    }
}
ul{
    align-items: center;

}

.lista{
    font-size: x-large;
    color: white;
    
}



